# Network Configuration
BASE_URL="https://10.100.1.1:8090/httpclient.html"
GATEWAY_IP="10.100.1.1"

# Credentials Configuration
# Format: username:password
# You can add multiple credentials here
CREDENTIALS=(
    "guestlocus1:123"
    "guestlocus2:123"
    "guestlocus3:123"
    "guestlocus4:123"
    "guestlocus5:123"
)
